<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome JS-->
    <script defer src="https://use.fontawesome.com/releases/v5.1.1/js/all.js"
            integrity="sha384-BtvRZcyfv4r0x/phJt9Y9HhnN5ur1Z+kZbKVgzVBAlQZX4jvAuImlIz+bG7TS00a"
            crossorigin="anonymous"></script>
    <link href="style.css" rel="stylesheet">
    <link rel="stylesheet" media="print" href="print.css"/>
    <title>{{ info.name }}</title>
    <style>
        @page {
            size: A4;
            margin: 2cm 1cm 1cm 2cm !important;
        }

        @media print {
        }


    </style>
</head>
<body>
<div class="container">

    <!-- Header -->
    <div class="row align-items-center">
        <div class="col-3">
            <div id="photo"><img src="{{ info.picture }}" class="img-thumbnail" style="width: 200px"></div>
        </div>
        <div class="col-9">
            <h1>
                {{ info.name }}
            </h1>
            <h2>{{ info.titles }}</h2>
            <br/>
            {% if contact.location is defined %}
                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fa fa-map-marker"></span></div>
                    <div class="title pull-right">{{ contact.location.address }}</div>
                    <div class="title pull-right">{{ contact.location.city }}, {{ contact.location.postalCode }} {{ contact.location.country }}
                    </div>
                </div>
            {% endif %}

            {% if contact.email is defined %}
                <div class="contact-item">
                    <span class="fa-container"><span class="fa fa-envelope"></span></span>
                    <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                </div>
            {% endif %}

            {% if contact.phone is defined %}
                <div class="contact-item">
                    <span class="fa-container"><span class="fa fa-phone"></span></span>
                    {{ contact.phone }}
                </div>
            {% endif %}

            {% if contact.website is defined %}
                <div class="contact-item">
                    <span class="fa-container"><span class="fa fa-globe"></span></span>
                    <a href="https://{{ contact.website }}"> {{ contact.website }}</a>
                </div>
            {% endif %}

            {% if contact.profiles is defined %}
                {% for profile in contact.profiles %}
                    {% if profile.network == "facebook" %}
                        <div class="contact-item">
                            <span class="fa-container"><span class="fa fa-facebook"></span></span>
                            <a href="https://{{ profile.url }}">{{ profile.url }}</a>
                        </div>
                    {% endif %}

                    {% if profile.network == "linkedin" %}
                        <div class="contact-item">

                            <span class="fa-container"><span class="fab fa-linkedin-in"></span></span>
                            <a href="https://{{ profile.url }}">{{ profile.url }}</a>
                        </div>
                    {% endif %}

                    {% if profile.network == "github" %}
                        <div class="contact-item">

                            <span class="fa-container"><span class="fab fa-github"></span></span>
                            <a href="https://{{ profile.url }}">{{ profile.url }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>


    <!-- Summary -->
    <div class="row align-items-center">
        <div class="col-12 summary">
            <!-- SUMMARY -->
            {% if summary is defined %}
                <h2><i class="fa fa-user ico"></i> {{ i18n.career_summary[config.lang] }}</h2>
                <p>{{ summary.description }}</p>
                {% if summary.highlights is defined %}
                    <ul class="list-group" id="summary_hl">
                        {% for highlight in summary.highlights %}
                            <li class="list-group-item"><i class="fa fa-check-square ico"></i> {{ highlight }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-8 ">
            <!-- Experience -->
            <h2><i class="fas fa-suitcase"></i> {{ i18n.work_exp[config.lang] }}</h2>
            <ul class="timeline">
                <!-- WORK EXPERIENCE -->
                {% if experiences is defined %}
                    {% for experience in experiences %}
                        <li>

                            <h3 class=" d-inline-block">{{ experience.position }}</h3>
                            <div class="float-right font-weight-bold">{{ experience.organization }}</div>
                            <div class="resume-time">{{ experience.period }}</div>

                            {% if experience.detail is defined %}
                                <h4>{{ i18n.details[config.lang] }}</h4>
                                {{ experience.detail | markdown }}
                            {% endif %}
                            {% if experience.technology is defined %}
                                <div class="tech_used">
                                    <h4>{{ i18n.used_tech[config.lang] }}</h4>
                                    <ul class="list-inline">
                                        {% for tech in experience.technology %}
                                            <li class="list-inline-item">
                                                <span class="badge badge-primary badge-pill">{{ tech }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>


            <!-- EDUCATION -->
            {% if educations is defined %}
                <h2><i class="fas fa-graduation-cap"></i> {{ i18n.education[config.lang] }}</h2>
                <ul>
                    {% for degree in educations %}
                        <li class="item-list">
                            <h3 class=" d-inline-block">{{ degree.degree }}</h3>
                            <div class="float-right font-weight-bold">{{ degree.university }}</div>
                            <div class="resume-time">{{ degree.period }}</div>

                            {% if degree.detail is defined %}
                                <h5>{{ i18n.details[config.lang] }}</h5>
                                {{ degree.detail | markdown }}
                            {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}


            <!-- TEACHING EXP -->
            {% if teaching is defined %}
                <h2><i class="fas fa-school"></i> {{ i18n.teaching[config.lang] }}</h2>
                <ul>
                    {% for teach in teaching %}
                        <li class="item-list">
                            {{ teach.subject }}
                            <div class="float-right font-weight-bold">{{ teach.university }}</div>
                            <br>
                            <small>{{ teach.position }}</small> - <span class="resume-time">{{ teach.period }} </span>

                            {% if teach.details is defined %}
                                <h5>{{ i18n.details[config.lang] }}</h5>
                                {{ teach.details | markdown }}
                            {% endif %}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}



            <!-- JOURNALS -->
            {% if journals is defined %}
                <h2><i class="fa fa-book"></i> {{ i18n.journals[config.lang] }}</h2>
                <ul>
                    {% for journal in journals %}
                        <li>
                        <b>"{{ journal.title }}"</b>, {{ journal.authors }}
                        - <i>{{ journal.journal }}</i> - ({{ journal.date }})

                        {% if journal.ISSN is defined %}
                            <i> ISSN: {{ journal.ISSN }}</i>
                        {% endif %}
                        {% if journal.website is defined %}
                            <br/>
                            <i class="fa fa-globe"></i> <a href="{{ journal.website }}">{{ journal.website }}</a>
                        {% endif %}
                    {% endfor %}
                    </li>
                </ul>
            {% endif %}
        </div>


        <div class="col-4">

            <!-- SKILLS -->
            {% if skills is defined %}
                <h2><i class="fa fa-wrench"></i> {{ i18n.skills[config.lang] }}</h2>
                {% for type in skills %}

                    <h4>{{ type.type }}</h4>
                    {% for skill in type.list %}
                        <div style="padding-left: 20px;">
                            {{ skill.name }}
                            <!--span class="badge-primary badge badge-pill float-right m-2">{{ skill.level }}</span-->
                            <div class="progress" style="height: 5px;">
                                <div class="progress-bar" role="progressbar"
                                     style="background-color: #434E5E; width: {{ skill.level }}%"
                                     aria-valuenow="{{ skill.level }}"
                                     aria-valuemin="0"
                                     aria-valuemax="100">
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <!-- LANGUAGE -->
            {% if languages is defined %}
                <h2><i class="fas fa-language"></i> {{ i18n.languages[config.lang] }}</h2>
                <ul>
                    {% for language in languages %}
                        <li class="list-unstyled">
                            <i class="fa fa-chevron-circle-right ico"></i> {{ language.language }}

                            <small class="text-muted"><span
                                    class="badge badge-primary badge-pill float-right">{{ language.fluency }}</span></small>

                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <!-- INTERESTS -->
            {% if interests is defined %}
                <h2><i class="fas fa-lightbulb"></i> {{ i18n.interests[config.lang] }}</h2>
                <ul>
                    {% for interest in interests %}
                        <li class="list-unstyled">
                            <i class="fa fa-chevron-circle-right ico"></i> {{ interest.name }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>
