{{ define "title" -}}{{ .Title }}{{- end }}


{{ define "main" -}}
<article>
    <h1>{{ .Title }}</h1>
    <section>
        <i class="fa-solid fa-calendar"></i> <time datetime="{{ .PublishDate }}">{{ i18n "publishDateFull" .
            }}</time><br />
        <i class="fa-solid fa-file-word"></i> {{ i18n "wordCount" . }}<br />
        <i class="fa-solid fa-book-open-reader"></i> {{ i18n "minuteRead" . }}<br />
        {{ $image := .Resources.Get (index .Params.images 0) }}
        {{ if $image}}
        <img src="{{ ($image.Fill " 743x244 90% webp").RelPermalink }}" loading="lazy" decoding="async">
        {{ end }}
        <hr>
        {{ partial "toc.html" . }}
        <hr>
    </section>
    {{ .Content }}
    {{ partial "nextprev.html" . -}}
    <br />
    {{ partial "taglist.html" . }}
    <br />
    <div id="remark42"></div>
</article>
{{- end }}