<!DOCTYPE html>
<html lang="{{ .Site.Language }}">

<head>
	<title>{{ if not .IsHome }}{{ .Title | title }} | {{ end }}{{ .Site.Title }}</title>
	<link rel="canonical" href="{{ .Site.BaseURL }}">
	<link rel='alternate' type='application/rss+xml' title="{{ .Site.Title }} RSS" href='/index.xml'>
	<link rel='stylesheet' type='text/css' href='/style.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<script type="text/javascript" src="{{ " /js/dark-mode.js" | urlize | relURL }}"></script>
	{{ $options := dict "transpiler" "libsass" "targetPath" "css/style.css" }}
	{{ with resources.Get "scss/main.scss" | toCSS $options | minify | fingerprint }}
	<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin="anonymous">
	{{ end }}

	{{ template "_internal/opengraph.html" . }}
	{{ template "_internal/twitter_cards.html" . }}
	{{ partial "jsonld.html" . }}

	{{ with .Site.Params.favicon }}
	<link rel="icon" href="{{ . }}">
	{{ end -}}
	<meta name="description" content="{{ with .Params.description }}{{ . }}{{ else }}{{ .Summary }}{{ end }}">
	{{ if isset .Params "tags" }}
	<meta name="keywords" content="{{ with .Params.tags }}{{ delimit . " , " }}{{ end }}">
	{{ end -}}
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="index, follow">
	<meta charset="utf-8">
</head>

<body>
	{{ if .Site.Menus.main }}{{ partial "nav.html" . }}{{ end -}}
	<main>
		{{ block "main" . }}
		{{ .Content }}
		{{ end }}
	</main>
	{{ block "footer" . }}
	<footer>
		Created by Ricardo Martín Marcucci, © 2019<br>
		<a href="/index.xml" style="color: orange"><i class="fa-solid fa-rss"></i></a>
	</footer>
	{{ end }}

</body>

</html>