{{ $data := index . "data" }}
{{ $lang := index . "lang" }}
<h2 id="language"><i class="fa-solid fa-wrench"></i> {{ i18n "skills"}}</h2>
<small class="text-right w-full block">Jr = 1-2 Años | Spec = 2-5 Años | Exp &gt;= 5+ Años</small>
<ul>
    {{ range $data.basics.skills}}
    <div style="break-inside: avoid-page;">
        <h4 class="font-bold">{{index .type $lang}}</h4>
        {{ range sort .list "level" "desc" }}
        {{ $exp := "Jr"}}
        {{ if eq .level 100 }}
        {{ $exp = "Exp"}}
        {{ else if ge .level 50 }}
        {{ $exp = "Spec"}}
        {{ end}}
        <div style="margin: 0.25rem">{{ .name }}<span>{{ $exp }}</span>
            <div class="progressBar">
                <div style="width: {{ .level }}%;"></div>
            </div>
        </div>
        {{ end }}
    </div>
    {{end}}
</ul>